html,
body {
	--bg-dark: hsl(0, 0%, 0%);
	--bg: hsl(0, 0%, 5%);
	--bg-light: hsl(0, 0%, 10%);
	--border: hsl(0, 0%, 40%);
	--text-muted: hsl(0, 0%, 70%);
	--text: hsl(0, 0%, 95%);

	--fg-accent: hsl(235, 100%, 70%);
	--fg-accent-dark: hsl(0, 100%, 40%);

	background: var(--bg-dark);
	color: var(--text);

	@media (prefers-color-scheme: light) {
		--bg-dark: hsl(0, 0%, 85%);
		--bg: hsl(0, 0%, 90%);
		--bg-light: hsl(0, 0%, 95%);
		--border: hsl(0, 0%, 60%);
		--text-muted: hsl(0, 0%, 20%);
		--text: hsl(0, 0%, 10%);

	}
}

body {
	padding: 1rem;
	width: 40rem;
}

ul {
	padding: 0;
}

details > ul {
	padding-left: 1rem;
}

li {
	display: grid;
	grid-template-columns: 3fr 2fr 0.3fr 1fr 1fr 1fr;
}

input,
button {
	color: var(--fg);
	background: var(--bg);
	border: 1px solid var(--border);
	border-radius: 0.5em;
}

button {
	cursor: pointer;
}

button:disabled {
	opacity: 0.2;
	cursor: default;
}

a:link {
	color: var(--fg-accent);
}

/* I'm thinking this doesn't work because the DOM is regenerated everytime. */
a:visited {
	color: var(--fg-accent-dark) !important;
}

.center-child {
	display: flex;
	justify-content: center;
}

.pair * {
	display: inline;
}

.pair :last-child {
	float: right;
}

#home-link {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#new-link {
	text-align: center;
}
