:root{
    background: #190019;
    color: #efdcef;
    font-family: 'Roboto', sans-serif;
}

html,
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.hidden{
    display: none;
}

a{
    color: #cc5dfb;
}

a:visited{
    color: #905dfb;
}
